/*---Asterisk selector to remove general styles---*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game-area{
    margin: 12.5vw;
    width: 75vw;
    height: 25vw;
    border: 1px solid black;
    position: relative;
}

#player{
    width: 8rem;
    height: 8rem;
    border: 1px solid black;
    background-color: green;
    position: absolute;
    top: calc(100% - 8rem) /*Put player on the bottom line of the game area*/
}