/* Google fonts import Merriweather and News Cycle */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=News+Cycle:wght@400;700&display=swap');

/* Asterisk selector to remove general styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    overflow: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    font-size: 4rem;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: black;
    margin: 0;
}

#score {
    font-size: 4rem;
    font-family: 'News Cycle', sans-serif;
    margin: 0;
    top: 0;
}

a {
    text-decoration: none;
}

div p {
    text-align: center;
    font-size: 3.5rem;
    position: relative;
    bottom: 1rem;
}

#left-mouse-button {
    padding-bottom: 1.5rem;
}

#game-world {
    width: 100%;
    height: 8vw;
    margin-top: 23vw;
    position: relative;
    --ground-height: 10rem;
}

#game-area {
    margin-top: 8vw;
    width: 100%;
    height: 20vw;
    border: 1px solid black;
    position: absolute;
    background-color: lightblue;
    bottom: var(--ground-height);
}

#player {
    width: 6.5rem;
    height: 6.5rem;
    border: 1px solid black;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 5rem;
}

#obstacle {
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(193, 28, 28);
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

#ground {
    background-color: rgb(75, 25, 25);
    width: 100%;
    height: var(--ground-height);
    position: absolute;
    bottom: 0;
    left: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 70%;
    background-color: burlywood;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
    position: relative;
    z-index: 2;
}

.modal-content img {
    position: relative;
    z-index: 2;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    bottom: 1rem;
}

#closeModal {
    font-size: 6rem;
    font-weight: bold;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

/* Media Query for screens < 320px */
@media (max-width: 319px) {

    h1 {
        font-size: 2rem;
        font-family: 'Merriweather', serif;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    
    #score {
        font-size: 2rem;
        font-family: 'News Cycle', sans-serif;
        margin: 0;
        margin-right: 1rem;
        top: -5px;
    }

    #game-world {
        width: 100%;
        height: 8vw;
        margin-top: 440px;
        position: relative;
        --ground-height: 10rem;
    }
    
    #game-area {
        margin-top: 0px;
        width: 100%;
        height: 300px;
        border: 1px solid black;
        position: absolute;
        background-color: lightblue;
        bottom: var(--ground-height);
    }
    
    #player {
        width: 4rem;
        height: 4rem;
        border: 1px solid black;
        background-color: green;
        position: absolute;
        bottom: 0;
        left: 3rem;
    }
    
    #obstacle {
        width: 3rem;
        height: 3rem;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgb(193, 28, 28);
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 1;
        transition: opacity 0.1s ease-in;
    }
    
    #ground {
        background-color: rgb(75, 25, 25);
        width: 100%;
        height: var(--ground-height);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    div p {
        text-align: center;
        font-size: 1rem;
        position: relative;
        bottom: 1rem;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 40%;
        width: 70%;
        background-color: burlywood;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #closeModal {
        position: relative;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        bottom: 1rem;
    }

    .modal-content img {
        position: relative;
        z-index: 2;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 30%;
        bottom: 1rem;
    }
}

/* Media Query for screens 320px to 550px */
@media (min-width: 320px) and (max-width: 550px) {

    h1 {
        font-size: 2rem;
        font-family: 'Merriweather', serif;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    
    #score {
        font-size: 2rem;
        font-family: 'News Cycle', sans-serif;
        margin: 0;
        margin-right: 1.2rem;
        top: -5px;
    }

    #game-world {
        width: 100%;
        height: 8vw;
        margin-top: 450px;
        position: relative;
        --ground-height: 10rem;
    }
    
    #game-area {
        margin-top: 0px;
        width: 100%;
        height: 300px;
        border: 1px solid black;
        position: absolute;
        background-color: lightblue;
        bottom: var(--ground-height);
    }
    
    #player {
        width: 5rem;
        height: 5rem;
        border: 1px solid black;
        background-color: green;
        position: absolute;
        bottom: 0;
        left: 3.5rem;
    }
    
    #obstacle {
        width: 4rem;
        height: 4rem;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgb(193, 28, 28);
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 1;
        transition: opacity 0.1s ease-in;
    }
    
    #ground {
        background-color: rgb(75, 25, 25);
        width: 100%;
        height: var(--ground-height);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    div p {
        text-align: center;
        font-size: 1.2rem;
        position: relative;
        bottom: 1rem;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 70%;
        background-color: burlywood;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #closeModal {
        position: relative;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        bottom: 1rem;
    }

    .modal-content img {
        position: relative;
        z-index: 2;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 60px;
        bottom: 1rem;
    }
}

/* Media Query for screens 551px to 768px */
@media (min-width: 551px) and (max-width: 768px) {

    h1 {
        font-size: 2.2rem;
        font-family: 'Merriweather', serif;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    
    #score {
        font-size: 2.2rem;
        font-family: 'News Cycle', sans-serif;
        margin: 0;
        margin-right: 1.2rem;
        top: -5px;
    }

    #game-world {
        width: 100%;
        height: 8vw;
        margin-top: 450px;
        position: relative;
        --ground-height: 10rem;
    }
    
    #game-area {
        margin-top: 0px;
        width: 100%;
        height: 300px;
        border: 1px solid black;
        position: absolute;
        background-color: lightblue;
        bottom: var(--ground-height);
    }
    
    #player {
        width: 5rem;
        height: 5rem;
        border: 1px solid black;
        background-color: green;
        position: absolute;
        bottom: 0;
        left: 5rem;
    }
    
    #obstacle {
        width: 4rem;
        height: 4rem;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgb(193, 28, 28);
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 1;
        transition: opacity 0.1s ease-in;
    }
    
    #ground {
        background-color: rgb(75, 25, 25);
        width: 100%;
        height: var(--ground-height);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    div p {
        text-align: center;
        font-size: 1.8rem;
        position: relative;
        bottom: 1rem;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 55%;
        width: 70%;
        background-color: burlywood;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #closeModal {
        position: relative;
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
        bottom: 1rem;
    }

    .modal-content img {
        position: relative;
        z-index: 2;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        bottom: 1rem;
    }
}

/* Media Query for screens 769px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {

    h1 {
        font-size: 2.4rem;
        font-family: 'Merriweather', serif;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    
    #score {
        font-size: 2.4rem;
        font-family: 'News Cycle', sans-serif;
        margin: 0;
        margin-right: 1.2rem;
        top: -5px;
    }

    #game-world {
        width: 100%;
        height: 8vw;
        margin-top: 400px;
        position: relative;
        --ground-height: 10rem;
    }
    
    #game-area {
        margin-top: 0px;
        width: 100%;
        height: 300px;
        border: 1px solid black;
        position: absolute;
        background-color: lightblue;
        bottom: var(--ground-height);
    }
    
    #player {
        width: 5rem;
        height: 5rem;
        border: 1px solid black;
        background-color: green;
        position: absolute;
        bottom: 0;
        left: 5rem;
    }
    
    #obstacle {
        width: 4rem;
        height: 4rem;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgb(193, 28, 28);
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 1;
        transition: opacity 0.1s ease-in;
    }
    
    #ground {
        background-color: rgb(75, 25, 25);
        width: 100%;
        height: var(--ground-height);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    div p {
        text-align: center;
        font-size: 2.2rem;
        position: relative;
        bottom: 1rem;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 65%;
        width: 70%;
        background-color: burlywood;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #closeModal {
        position: relative;
        font-size: 3.5rem;
        font-weight: bold;
        cursor: pointer;
        bottom: 1rem;
    }

    .modal-content img {
        position: relative;
        z-index: 2;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        bottom: 1rem;
    }
}

/* Media Query for screens 1025px to 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
    
    h1 {
        font-size: 3rem;
        font-family: 'Merriweather', serif;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    
    #score {
        font-size: 3rem;
        font-family: 'News Cycle', sans-serif;
        margin: 0;
        margin-right: 1.2rem;
        top: -5px;
    }

    #game-world {
        width: 100%;
        height: 8vw;
        margin-top: 400px;
        position: relative;
        --ground-height: 10rem;
    }
    
    #game-area {
        margin-top: 0px;
        width: 100%;
        height: 300px;
        border: 1px solid black;
        position: absolute;
        background-color: lightblue;
        bottom: var(--ground-height);
    }
    
    #player {
        width: 5.5rem;
        height: 5.5rem;
        border: 1px solid black;
        background-color: green;
        position: absolute;
        bottom: 0;
        left: 5rem;
    }
    
    #obstacle {
        width: 4.5rem;
        height: 4.5rem;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgb(193, 28, 28);
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 1;
        transition: opacity 0.1s ease-in;
    }
    
    #ground {
        background-color: rgb(75, 25, 25);
        width: 100%;
        height: var(--ground-height);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    div p {
        text-align: center;
        font-size: 3rem;
        position: relative;
        bottom: 1rem;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 70%;
        background-color: burlywood;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #closeModal {
        position: relative;
        font-size: 4rem;
        font-weight: bold;
        cursor: pointer;
        bottom: 1rem;
    }

    .modal-content img {
        position: relative;
        z-index: 2;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        bottom: 1rem;
    }
}