/*---Asterisk selector to remove general styles---*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}

h1{
    text-align: center;
    font-size: 5rem;
    position: relative;
    top: 15rem;
}

#game-area{
    margin: 12.5vw;
    width: 75vw;
    height: 25vw;
    border: 1px solid black;
    position: relative;
    background-color: lightblue;
}

#player{
    width: 8rem;
    height: 8rem;
    border: 1px solid black;
    background-color: green;
    position: absolute;
    bottom: 0;
}

#obstacle{
    width: 6rem;
    height: 6rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(193, 28, 28);
    position: absolute;
    bottom: 0;
    right: 0;
}

#ground{
    background-color: rgb(75, 25, 25);
    margin: 12.5vw;
    width: 75vw;
    height: 10rem;
    position: absolute;
    top: 28.2vw;
}