/*---Asterisk selector to remove general styles---*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 5rem;
    position: relative;
    top: 5rem;
}

#score{
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: 5rem;
}

div p{
    text-align: center;
    font-size: 4rem;
    position: relative;
    bottom: 4rem;
}

#left-mouse-button{
    padding-bottom: 1.5rem;
}

#game-world{
    width: 75vw;
    height: 25vw;
    margin-top: 25vw;
    position: relative;
    --ground-height: 10rem;
}

#game-area{
    margin: 12.5vw;
    margin-top: 8vw;
    width: 75vw;
    height: 25vw;
    border: 1px solid black;
    position: absolute;
    background-color: lightblue;
    bottom: var(--ground-height);
}

#player{
    width: 8rem;
    height: 8rem;
    border: 1px solid black;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 5rem;
}

#obstacle{
    width: 6rem;
    height: 6rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(193, 28, 28);
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

#ground{
    background-color: rgb(75, 25, 25);
    margin: 12.5vw;
    width: 75vw;
    height: var(--ground-height);
    position: absolute;
    bottom: 0;
    left: 0;
}

.modal{
    display: none;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vw;
    width: 35vw;
    background-color: burlywood;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content{
    position: relative;
    z-index: 2;
}

.modal-content img{
    position: relative;
    z-index: 2;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 8vw;
    height: 8vw;
    bottom: 3rem;
}

#closeModal{
    font-size: 6rem;
    font-weight: bold;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

/* Media Query for screens < 320px */
@media (max-width: 319px) {

    body{
        background-color: burlywood;
        overflow: hidden;
        font-size: 1rem;
    }

    h1{
        text-align: center;
        font-size: 2.5rem;
        position: relative;
        top: 3.5rem;
    }

    #score{
        text-align: center;
        font-size: 2rem;
        position: relative;
        top: 5rem;
    }
    
    div p{
        text-align: center;
        font-size: 1.5rem;
        position: relative;
        top: 0rem;
    }
    
    #left-mouse-button{
        padding-bottom: 2rem;
    }
    
    #game-world{
        width: 75vw;
        height: 25vw;
        margin-top: 150vw;
        position: relative;
        --ground-height: 10rem;
    }
    
    #game-area{
        margin: 12.5vw;
        margin-top: 8vw;
        width: 75vw;
        height: 90vw;
        border: 1px solid black;
        position: absolute;
        background-color: lightblue;
        bottom: 4rem;
    }
    
    #player{
        width: 4rem;
        height: 4rem;
        border: 1px solid black;
        background-color: green;
        position: absolute;
        bottom: 0;
        left: 2.5rem;
    }
    
    #obstacle{
        width: 3rem;
        height: 3rem;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgb(193, 28, 28);
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 1;
        transition: opacity 0.1s ease-in;
    }
    
    #ground{
        background-color: rgb(75, 25, 25);
        margin: 12.5vw;
        width: 75vw;
        height: 4rem;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .modal{
        display: none;
        position: fixed;
        z-index: 2;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 125vw;
        width: 60vw;
        background-color: burlywood;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .modal-content{
        position: relative;
        z-index: 2;
    }
    
    .modal-content img{
        position: relative;
        z-index: 2;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 20vw;
        height: 20vw;
        top: 0rem;
    }
    
    #closeModal{
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
    }
    
    .overlay {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
    }
}