/*---Asterisk selector to remove general styles---*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 5rem;
    position: relative;
    top: 8rem;
}

p{
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: 10rem;
}

#game-world{
    width: 75vw;
    height: 25vw;
    margin-top: 25vw;
    position: relative;
    --ground-height: 10rem;
}

#game-area{
    margin: 12.5vw;
    margin-top: 8vw;
    width: 75vw;
    height: 25vw;
    border: 1px solid black;
    position: absolute;
    background-color: lightblue;
    bottom: var(--ground-height);
}

#player{
    width: 8rem;
    height: 8rem;
    border: 1px solid black;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 5rem;
}

#obstacle{
    width: 6rem;
    height: 6rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(193, 28, 28);
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

#ground{
    background-color: rgb(75, 25, 25);
    margin: 12.5vw;
    width: 75vw;
    height: var(--ground-height);
    position: absolute;
    bottom: 0;
    left: 0;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vw;
    width: 35vw;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}